.about {
  max-width: 440px;
}

.resume {
  max-width: 550px;
  text-align: left;
  padding: 10px;
}

.resume h3 {
  margin: 0;
}

.resume h4 {
  text-align: right;
  margin: 0;
}

.resume h5 {
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

.resume li {
  margin: 0;
  padding-left: 15px;
}

.contact {
  max-width: 550px;
  text-align: left;
  padding: 10px;
}