.section {
  text-align: center;
}

#tabs {
  display: inline;
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
}

#app {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app p {
  color: black;
}

@media screen and (max-width: 600px) {
  #root {
      font-size: 62%;
      width: 400px;
  }
  #app {
      width: 300px;
  }
}

@media screen and (min-width: 600px) {
  #app {
      width: 500px;
  }
}